*teste_herodotools.R
/abiotic_data
*.Rproj.user
*birds_names.txt
/list_of_species
/phylogeny
*result_biogeobears.csv
/trait_data
.Rproj.user
/01_processingdata/abiotic_data/elevation_1KMmd_GMTEDmd.tif
*gridmacro.shx
*gridmacro.shp
*gridmacro.dbf
*gridmacro.cpg